@charset "UTF-8";

body{
    background-image: linear-gradient(to right,#294013, #1C2611 );
}

main {
    background-color: rgb(222, 207, 207);
    width: 600px;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 7px 7px 15px black;
}

h1 {
    text-align: center;
    color: #294013;
}

p {
    text-align: justify;
}

h2 {
    color: #265902;
}